@model IEnumerable<Products>

@{ 

    ViewBag.Title = "Product List";
}

<div class="card-deck">
    @foreach(var product in Model)
    {
    <div class="card m-3">

        <div class="car-header">
            <h3>@product.Name</h3>
        </div>
        <img class="card-img-top" src="~/Images/threeAmigos.jpg"
             asp-append-version="true"/>
            
        <div class="card-footer text-centre">

            <a href="/home/details/@product.Id" class="btn btn-primary m-1">View</a>
            <a href="#" class="btn btn-primary m-1">Edit</a>
            <a href="#" class="btn btn-danger m-1">Delete</a>

        </div>
    </div>
    }

</div>
